# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = statquant
	email = statquant@outlook.com
[credential]
	helper = cache --timeout=3600
[alias]
	d = difftool
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
